apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: "bind-exporter"
        kubernetes_sd_configs:
          - role: pod

        relabel_configs:
          # Mantém apenas o container bind-exporter
          - source_labels: [__meta_kubernetes_pod_container_name]
            regex: bind-exporter
            action: keep

          # Mantém apenas a porta do exporter
          - source_labels: [__meta_kubernetes_pod_container_port_number]
            regex: "9119"
            action: keep
            

      - job_name: "kubelet"
        scheme: https
        metrics_path: /metrics

        kubernetes_sd_configs:
          - role: node

        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

        tls_config:
          insecure_skip_verify: true

        relabel_configs:
          - source_labels: [__meta_kubernetes_node_address_InternalIP]
            target_label: __address__
            replacement: $1:10250

          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)



      - job_name: "kubelet-cadvisor"
        scheme: https
        metrics_path: /metrics/cadvisor

        kubernetes_sd_configs:
          - role: node

        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

        tls_config:
          insecure_skip_verify: true

        relabel_configs:
          - source_labels: [__meta_kubernetes_node_address_InternalIP]
            target_label: __address__
            replacement: $1:10250

          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

